<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Reset Password</title>
    <link rel="stylesheet" href="/static/assets/css/styles.min.css" />
</head>

<body class="bg-light">

<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="card shadow p-4" style="max-width: 420px; width:100%;">
        <h3 class="text-center mb-3">Reset Password</h3>

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}

            <button class="btn btn-primary w-100">Update Password</button>
        </form>
    </div>
</div>

</body>
</html>
